body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    /* width: 1920px; */
    height: 450px;
    background-color:rgba(229, 84, 115, 0.10);

}

.banner {
    /* padding-bottom: 50px; */
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 0px;
    display: flex;
    
    

}

.banner-text {
    text-align: left;
    /* padding-top: 100px; */
    align-content: center;
    
    
    

}

.profile-pic {
    width: 735px;
    padding-top: 50px;
    padding-bottom: 0px;
    
    
    
}


.banner-heading {
    font-size: 40px;
font-style: normal;
font-weight: 800;
/* margin-bottom: 0px; */
color: #272727;
}

.banner-doc {
    font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 30px;
}

.btn-primary {
    color: #FFF;
font-family: Lato;
padding-top: 6px;
padding-right: 12px;
padding-bottom: 6px;
padding-left: 12px;

border: none;
border-radius: 6px;
background: #E55473;
}
.main{
    background: #FFF;
}
.title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 40px;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.featured-image{

    /* border-radius: 50px 50px; */
    display: flex;
    gap: 10px;
    margin: auto;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    width: 300px; 
    justify-content: space-around;
    
}
.featured-flowers-1{
    /* border-top: 110px; */
    /* border-right: 78px; */
    /* border-left: 76px; */
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;

}
.featured-flowers-2{
    /* border-top: 117px; */
    /* border-right: 47px; */
    /* border-left: 47px; */
    /* border-bottom: 51px; */
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding-top: 117px;
padding-right: 47px;
padding-bottom: 51px;
padding-left: 47px;}

.featured-flowers-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding-top: 67px;
padding-left: 75px;
padding-right: 75px;
padding-bottom: 0px;


}


   
