body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 450px;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 0px;
    display: flex;
}

.banner-text {
    text-align: left;
    align-content: center;

}

.profile-pic {
    width: 735px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.banner-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #272727;
}

.banner-doc {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: none;
    border-radius: 6px;
    background: #E55473;
}

.main {
    background: #FFF;
}

.title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 40px;
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.featured-image {
    display: flex;
    gap: 2px;
    margin-left: 240px;
    margin-right: 240px;
    justify-content: space-around;
    text-align: center;
}

.featured-flowers-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 105px;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
}

.featured-flowers-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 117px;
    padding-right: 47px;
    padding-bottom: 46px;
    padding-left: 47px;
    width: auto;
}

.featured-flowers-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 63px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 0px;
    width: auto;
}

.pink {
    color: #272727;
    text-align: center;
    font-size: 24px;
}

.fresh-flowers {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    margin-right: 240px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 100px;
}

.flower-one {
    text-align: center;
}

.flower-two {
    text-align: center;
}

.flower-three {
    text-align: center;
}

.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}

.hot-banner {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 380px;
    text-align: center;
}

.img {
    padding-right: 520px;
    padding-top: 80px;
}

.hot-banner-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.description {
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

.btn-primary-two {
    color: #FFF;
    font-family: Lato;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    text-align: center;
    border: none;
    border-radius: 6px;
    background: #E55473;
}

.headline {
    color: #272727;
    font-size: 40px;

}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.head-para {
    text-align: center;
}

.instagram-image {
    display: flex;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;

}

.rose-poster {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 100px;
    border-radius: 8px;
    background: lightgray;
}

.contact {
    text-align: center;
    padding-top: 150px;
    margin-left: 240px;
    margin-right: 240px;
    padding-bottom: 48px;
}

.contact-title {
    color: #272727;
    font-size: 40px;
}

.email-info {
    display: flex;
    gap: 20px;
    margin-bottom: 200px;
    justify-content: center;

}


.input-email {
    width: 350px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    padding-top: 5px;
    padding-right: 250px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.sub-button {
    width: 150px;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;


}

.contact-image {
    position: absolute;
}

.contact-info {
    position: relative;
}

.shop-footer {
    background: #111010;
    color: #FFF;
    font-size: 48px;
    text-align: center;

}

.footer-title {
    padding-top: 128px;
   
    text-align: center;

}

.footer-first-para {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-weight: 400;
    font-size: 18px;


}

.footer-second-para {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 128px;
    padding-top: 30px;
}

.yellow {
    color: #E55473;
    font-size: 48px;
}